/* ============= Estilos ============= */

body {
  margin: 0;
  margin-bottom: 0px;
  min-height: 100vh;
  height: auto;
  background-color: white;
	background: white;
  -webkit-font-smoothing: antialiased;
}

.home {
  background: white;
  background-repeat: repeat;
  padding: 0;
  font-family: sans-serif;
  margin: 0;
}

/* ============= Logo ============= */
/* Caracteristicas de la barra de navegación: */
/* Tamaño del logotipo */

#logo {
  margin-top: 0px;
  height: auto;
  width: 50%;
}

#logo1 {
  margin-top: 0px;
  height: 70px;
  width: 100px;
}

#logo-tei {
  margin-top: 0px;
  height: 90px;
  width: 110px;
}

#logo1:hover {
  overflow: hidden;
  transform:scale(1.1);
}

/* Tamaño de iconos*/


.hidden-xs {
  width: 65px;
  height: 65px;
  margin: auto;
}


.hidden-xs:hover {
  transform:scale(1.2);
}


/* Fondo del container del navbar */
.navbar {
  background-color: white;
  border: 100px "solid" #00353e;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 1%;
  padding-right: 1%;
  height: 95px;
}

.nav-item {
  justify-content: flex-start;
}


.items {
  height: 100px;
  padding-bottom: 0px;
}

.imagen1 {
  padding: 120px;
  
}

.imagenproductos {
  position:relative;
  display: block;
  margin: auto;
  height: 60%;
  width: 50%;
}

.imagen-login {
  position: absolute;
  margin-left: 220px;
  padding-left: 30px;
  padding-top: 90px;
}

.navbar-toggler {
  border-color: black;
  border: solid;
}

#cabecera {
  background-color: white;
  border: 100px "solid" #00353e;
  margin-top: 0;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 0px;
  position: relative;
  width: 100%;
}

.h1 {
  color:rgb(0, 80, 94);
  font-size: medium;
}

.h5 {
  font-weight: bold;
}

#TEI {
color: rgb(0, 80, 94);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-transform: uppercase;
}

/* Tablero eléctrico Sumergible */

.w3-light-grey {
  height: 230px;
  margin: auto;
  margin-bottom: 0%;
  margin-top: 0%;
  width: 45%;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: white;
}

.w3-light-grey-alert {
  height: 150px;
  margin: auto;
  margin-bottom: 1%;
  margin-top: 0%;
  width: 50%;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: white;
}

.w3-content {
  padding: 1%;
}

#izquierda {
  text-align: center;
  position: relative;
  border: none;
  background-color: transparent;
  font-weight: bold;
}

#derecha {
  text-align: center;
  position: relative;
  border: none;
  background-color: transparent;
}

b {
  font-weight: bold;
  font-size: large;
}

#derecha1 {
  margin: auto;
  width: 10%;
  border: none;
  background-color: transparent;
}


/* Linea divisiora */

.linea_divisora1 {
  border-color: rgb(244, 216, 15); 
  background-color: rgb(244, 216, 15);
  height: 5px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  position: relative;
}

.linea_divisora2 {
  border-color: rgb(0, 77, 93); 
  background-color: rgb(0, 77, 93);
  height: 5px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  position: relative;
}

.linea_divisora3 {
  border-color: rgb(141, 191, 198); 
  background-color: rgb(141, 191, 198);
  height: 5px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  position: relative;
}

#logo-movil {
  height: 30px;
}

/* Para que los items del navbar se muestren a la izquierda de la pantalla */

#navbarSupportedContent {
  justify-content: flex-end;
  width: 50px;
}

/* Base del template */

footer{
  position: relative;
  bottom: 0;
  width: 100%;
  height: 67px;
  font-weight: bold;
  color: rgb(0, 80, 94);
}

.base {
  background: rgb(0, 80, 94);
  color: white;
  font-size: 1vw;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  bottom: 0;
}

/*seccion de la ventana modal*/
/* Z-index of #mask must lower than #boxes .window */

#mask {
  position: relative;
  z-index:900;
  background-color:#000;
  background-color:rgb(0,53,62);
  display: none;
}

#boxes .window {
  margin-top: 0px;
  position: relative;
  display:none;
  z-index:910;
  font-size:22px;
  color:rgb(0,53,62);
  background-color:rgb(255,255,255);
}


/* Customize your modal window here, you can add background image too */
#boxes #dialog {
padding-top: 10px;
width:375px;
height:203px;
}

.label-default{
  display: none;
  font-weight: bold;
}

footer p {
	color: white;
	font-size: 18px;
	letter-spacing: .4px;
  text-align: center;
  font-weight: bold;
}

hgroup { 
	text-align:center;
	margin-top: 0.3em;
  margin-bottom: 0.5em;
  font-size: large;
}

input {
	font-size: 18px;
	padding: 5px 5px 5px 5px;
	display: block;
	background: #fafafa;
	color: #636363;
	width: 100%;
}

/* Interfaz de control */

.w3-twothird {
  width: 40%;
  padding: 2%;
  margin: auto;
}

.w3-right {
  font-weight: bold;
}

.w3-right:hover {
  color: rgb(0, 77, 93);
}


#derecha2 {
  width: 50px;
  ;
}

/* //////////////////////Responsive Styles/////////////////////// */

@media (max-height: 664px) {              /*======= Mayor de 664 px (Alto) =======*/

  /* Tablero eléctrico Sumergible */
.w3-light-grey {
  height: 230px;
  margin: auto;
  width: 45%;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

#izquierda {
  text-align: center;
  position: relative;
  margin: 10%;
}

#derecha {
  text-align: center;
  position: relative;
  margin: 10%;
}

}

@media (min-height: 790px) {                   /*======= Mayor de 790 px (Alto) =======*/

  .w3-light-grey {
    height: 230px;

  }
}
@media (min-height: 710px) {                  /*======= Mayor de 710 px (Alto) =======*/

  .w3-light-grey {
    height: 230px;
  }
}

@media (min-width: 1200px) {           /*======= Mayor de 1200 px (Ancho) =======*/

.hidden-xs {
  width: 65px;
  height: 65px;
}

.visible-xs {                 
  display: none;
}

  .linea_divisora{
    margin-top: 0px;
    width: 100%;
  }

  .nav-link {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .viewport {
    height: 0px;
  }

  .base {
    font-size: 1vw;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    bottom: 0;
    text-align: center;
    margin: auto;
    }

    .color_letras_servicios2 {
      font-size: 1.5vw;
      margin: 0;
  
    }

}

@media (max-width: 1400px) {
  
  .w3-light-grey {
    height: 230px;
    margin: auto;
    width: 60%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
  }
}


@media (max-width: 1200px) {                  /*======= Menos de 1200 px (Ancho) =======*/

  h1 {
    font-size: 180%;
  }
  
  .linea_divisora{
    margin-top: 0px;
    width: 100%;
  }
  
  .hidden-xs {
    width: 60px;
    height: 60px;
    display: block;
  }

  .img-responsive{
    width: 22,7vw;
    height: 21,2vh;
    justify-content: center;
    object-fit: scale-down;
    padding: 0px;

  }

  .viewport {
    height: 0px;
  }

  .productogiro {
    height: 0px;
  }

  .color_letras_servicios{
      font-size: 2vw;
  
    }

  #logo {
    margin-top: 0px;
    height: 100px;
    width: 210px;
  }


  .base {
    font-size: 1.5vw;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    bottom: 0;
    text-align: center;
    margin: auto;
    }

    .navbar-nav {
      position: relative;
      z-index: 10000;
      background-color: white;

    }

    .w3-twothird {
      height: 80%;
      width: 80%;
      padding: 2%;
      margin: auto;
    }

  }


  @media (min-width: 1150px) {      /*======= Menos de 1150 px (Ancho) =======*/
    .imagenproductos {
      position:relative;
      display: block;
      height: 480px;
      width: 400px;
    }
    
  }

@media (max-width: 1000px) {              /*======= Menos de 1000 px (Ancho) =======*/

  #derecha1 {
    height: 20%;
    width: 25%;
    border: none;
    background-color: transparent;
  }

  .letras_mas_grandes{
    font-size: 2.5vw;
  }


  .color_letras_servicios2 {

    font-size: 2.5vw;
    margin: 0;

  }

  .color_letras_servicios{
    font-size: 2vw;

  }

  #logo-tei {
    margin-top: 0px;
    height: 90px;
    width: 110px;
  }
  
}


@media (max-width: 900px) {  /*======= Menos de 900 px (Ancho) =======*/

  #derecha1 {
    width: 30%;
    border: none;
    background-color: transparent;
  }

  .w3-light-grey {
    height: 230px;
    margin: auto;
    width: 80%;
    padding: 0px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  h1 {
    font-size: 150%;
  }

  .visible-xs {
    display: none;

  }
  
  .letras_mas_grandes{
    font-size: 2.5vw;
  }


  .color_letras_servicios2 {

    font-size: 2.5vw;
    margin: 0;

  }

  .color_letras_servicios{
    font-size: 2.5vw;

  }

  .footer {
    font-size: 2vw;
  }
}



@media (max-width:768px) {     /*======= Menos de 768 px (Ancho) =======*/ 

  /* Menu inical */
  .navbar-light {
    height: 80px;
    padding: 0;
    position: relative;
  }

  .hidden-xs {
    width: 30px;
    height: 30px;
    display: block;
  }
  
  .items {
    height: 100px;
  }

   
  #info {
    padding: 10px;
  }

  .footer {
    font-size: 2vw;
  }

   #cabecera-nosotros {
     height: 700px;
   }

   
  .sangria{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .txt_quienes {

    font-size: 2vw;

  }

  #myList li{

    padding-top: 20px;
    padding-bottom: 10px;

  }

  .navbar-light {
    height: 100px;
    padding: 0;
    position: relative;
  }

  .base {
  font-size: 2vw;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  bottom: 0;
  text-align: center;
  margin: auto;
  }

  #logo {
    margin-top: 0px;
    height: 80px;
    width: 190px;
  }

  #logo-tei {
    margin-top: 0px;
    height: 70px;
    width: 90px;
  }

  hgroup { 
    text-align:center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: large;
  }
}

@media (max-width: 576px) {       /*======= Menos de 576 px =======*/

  h1 {
    font-size: 130%;
  }

  #boxes .window {
    margin-top: 10;
    position: absolute;
    display:none;
    z-index:930;
    padding:10px;
    font-size:30px;
    color:rgb(0,53,62);
    background-color:rgb(255,255,255);
  }  


  .color_letras_servicios2 {
    margin-top: 0px;
    margin-bottom: 0;
    font-size: 1.5w;
  }

  .base {
    font-size: 2.6vw;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    bottom: 0;
    text-align: center;
    margin: auto;
    }

    #quienes-somos {
      font-size: 3vw;
    }

    .letras_mas_grandes{
      font-size: 3vw;
    }
  
  
    .color_letras_servicios2 {
      font-size: 3vw;
      margin: 0;
  
    }
  
    .color_letras_servicios{
      font-size: 3vw;
    }
    .w3-twothird {
      height: 90%;
      width: 90%;
      padding: 2%;
      margin: auto;
    }
}

@media (max-width:400px) {     /*======= Menos de 400 px =======*/
  
  h1 {
    font-size: 100%;
  }

  #logo {
    margin-top: 0px;
    height: 70px;
    width: 160px;
  }
}

@media (max-width:300px) {     /*======= Menos de 300 px =======*/
  
  #logo {
    margin-top: 0px;
    height: 70px;
    width: 150px;
  }
}
