/* ============= Estilos ============= */

body {
  margin: 0;
  margin-bottom: 0px;
  min-height: 100vh;
  height: auto;
}

.home {
  /*  background:rgb(0,132,202); */
  /*background: url(../images/cuadro_fondo2.jpg);*/
  background: white;
  background-repeat: repeat;
  padding: 0;
  font-family: sans-serif;
  margin: 0;
}

/* selección del body */
/* .home a:hover{
	opacity: 0.85;
    background-color: #337ab7;
} */

/* html, body {
  height: 100%;
}

body {
  overflow: hidden;
} */

/* ============= Logo ============= */

/* Caracteristicas de la barra de navegación: */
/* Tamaño del logotipo */

#logo {
  margin-top: 0px;
  height: auto;
  width: 50%;
}

#logo1 {
  margin-top: 0px;
  height: 70px;
  width: 100px;
}

#logo-tei {
  margin-top: 0px;
  height: 90px;
  width: 110px;
}

/* Tamaño de iconos*/

.hidden-xs {
  width: 4vw;
  height: 4vw;
}


/* Fondo del container del navbar */

.navbar {
  background-color: white;
  border: 100px "solid" #00353e;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
  height: 120px;
}



.nav-item {
  justify-content: flex-start;
}

.items {
  height: 100px;
  padding-bottom: 0px;
}


.imagen1 {
  padding: 120px;
  
}

.imagenproductos {
  position:relative;
  display: block;
  margin: auto;
  height: 60%;
  width: 50%;
}

.imagen-login {
  position: absolute;
  margin-left: 220px;
  padding-left: 30px;
  padding-top: 90px;
}

.navbar-toggler {
  border-color: black;
  border: solid;
}

#cabecera {
  /* background-color:rgb(110,150,178);  */
  /*de gris a blanco todo este fondo*/
  background-color: white;
  border: 100px "solid" #00353e;
  margin-top: 0;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 0px;
  position: relative;
  width: 100%;
  /* min-height: calc(100vh - 112px); */
  /* height: 100%; */
  /* min-height: calc(100vh - 400px); */
}

#cabecera-nosotros {
  /* background-color:rgb(110,150,178);  */
  /*de gris a blanco todo este fondo*/
  background-color: white;
  border: 100px "solid" #00353e;
  margin-top: 0;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 0px;
  position: relative;
  height: 900px;
  width: 100%;
  /* min-height: calc(100vh - 112px); */
  /* height: 100%; */
  /* min-height: calc(100vh - 400px); */

}

#cabecera-productos {
  /* background-color:rgb(110,150,178);  */
  /*de gris a blanco todo este fondo*/
  background-color: white;
  border: 100px "solid" #00353e;
  margin-top: 0;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 0px;
  position: relative;
  height: 120px;
  width: 100%;
  /* min-height: calc(100vh - 112px); */
  /* height: 100%; */
  /* min-height: calc(100vh - 400px); */
}

.row{
  position: relative;
}

#quienes-somos {
  margin-top: 0;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 0px;
  position: relative;
  height: 130%;
  width: 80%;
  /* width: 100%; */
}

/* Botones Productos  */
.btn {
  font-weight: bold;
  color: rgb(0, 77, 93);
  background-color: rgb(110, 180, 222);
}

#cabecera-servicios {
  /* background-color:rgb(110,150,178);  */
  /*de gris a blanco todo este fondo*/
  background-color: white;
  border: 100px "solid" #00353e;
  margin-top: 0;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 0px;
  position: relative;
  height: 120px;
  width: 100%;
  /* min-height: calc(100vh - 112px); */
  /* height: 100%; */
  /* min-height: calc(100vh - 400px); */
}

.container.formulario {
  padding: 0;
  width: 100%;
  height: 800px;
}

.h1 {
  color:rgb(0, 80, 94);
  font-size: medium;
}

#TEI {
color: rgb(0, 80, 94);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-transform: uppercase;
}


#containerCentral {
  /* background-color:rgb(110,150,178);  */
  /*de gris a blanco todo este fondo*/
  background-color: white;
  /* border: 10px "solid" #00353e; */
  margin-top: 0;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 0px;
  position: relative;
  height: 120px;
  width: auto;
  /* min-height: calc(100vh - 112px); */
  /* height: 100%; */
  /* min-height: calc(100vh - 400px); */
}

#cabecera-formulario {
/* background-color:rgb(110,150,178);  */
/*de gris a blanco todo este fondo*/
background-color: white;
/* border: 100px "solid" #00353e; */
margin-top: 0;
padding-left: 0px;
padding-right: 0px;
margin-bottom: 0px;
position: relative;
height: 120px;
width: auto;
/* min-height: calc(100vh - 112px); */
/* height: 100%; */
/* min-height: calc(100vh - 400px); */
}

/* -------------Formulario----------------- */

#nombre {
  width: 70%;
}

#telefono {
  width: 70%;
}

#email {
  width: 70%;
}

#mensaje {
  width: 70%;
}

#phone {
  width: 70%;
}

.myButton {
  width: 30%;
  margin-bottom: 40px;
  top: 30%;
  left: 35%;
  position: relative;
}

#mensaje {
  padding-bottom: 20px;
}


/* -------------Formulario----------------- */


/* Tablero eléctrico Sumergible */

.w3-light-grey {
  height: 575px;
}


/*==================================================================
[ login more ]*/
.login100-more {
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.login100-more::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.3);
}


/* Linea divisiora */

.linea_divisora {
  border-color: rgb(0, 77, 93); 
  background-color:rgb(0, 77, 93);
  height: 5px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  position: absolute;
}

.linea_divisora1 {
  border-color: rgb(255, 255, 0); 
  background-color: rgb(255, 255, 0);
  height: 5px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  position: relative;
}

.linea_divisora2 {
  border-color: rgb(0, 77, 93); 
  background-color: rgb(0, 80, 94);
  height: 5px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  position: relative;
}

.linea_divisora3 {
  border-color: rgb(0, 156, 186); 
  background-color: rgb(0, 156, 186);
  height: 5px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  position: relative;
}

#logo-movil {
  height: 30px;
}

/* Para que los items del navbar se muestren a la izquierda de la pantalla */

#navbarSupportedContent {
  justify-content: flex-end;
  width: 50px;
}

/* Base del template */

footer{
  position: relative;
  bottom: 0;
  width: 100%;
  height: 67px;
  font-weight: bold;
  color: rgb(0, 80, 94); 
  /* padding-bottom: 2px; */
  /* margin-bottom: -5 px; */
  /* position: inherit; */
}

.base {
  background: rgb(0, 80, 94);
  color: white;
  font-size: 1vw;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  bottom: 0;
}

/* seccion nosotros */

.txt_quienes {
  text-align: center;
  color: black;
  width:90%;
  margin-top: 0;
  line-height: 200%;
  font-family: Arial, Helvetica, sans-serif;
}


.letras_mas_grandes{
  font-size: 1.5vw;
  /* color: rgb(24,56,95); */
  color:rgb(0, 80, 94);
  text-align: justify;
}


/* .panel-body {
  margin-top: 0px;
  padding-top: 0px;
  padding-left: 15%;
  padding-right: 15%;
  z-index: 0;
	width:130%;
 } */


/* Responsividad de las imagenes */

/* .img-responsive{
  width: 35vw;
  height: 37vh;
  object-fit: scale-down;
} */

/* ===================== Productos ===================== */

.card {
  width: 280px; 
  height: 200px;
}

#productos{
  justify-content: center;
}

.card-body {
  color: rgb(0, 80, 94);

}

.card-text {
  text-align: justify;
}

.card-title {
  color: rgb(0, 77, 93);
  font-weight: bold;

}
.card-body-productos {
  color: rgb(0, 80, 94);
  position:relative;
  display: block;
  margin: auto;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.card {
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  height: 100%;
  width: 70%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 20px;
}

.cardproduct {
  float:left;margin-left:5px;
}

.card-box {
    /* border: 0; */
    padding: 0px;
    box-shadow: 0px 0px 0px 0px #c5c5c5;
    margin-bottom: 0px;
    /* border-radius: 10px; */
}


.card-box .card-thumbnail {
    max-height: 300px;
    overflow: hidden;
    border-radius: 0px;
    transition: 1s;
}

.card-box .card-thumbnail img{
  padding: 20px ;
  object-fit: fill;
}

.login {
  width: 70%;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* .card-box .card-thumbnail:hover {
    transform: scale(1.2);
} */


.card-box h3 a {
  font-size: 20px;
  text-decoration: none;
  color: rgb(0, 80, 94);
}

.estilo_imagenes{
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  flex: 1;
  display: inline-flex;
}


.estilo_imagenes a img{
  display: flex;
}

.color_letras_productos {
  font-size: 18px;
  text-align: center;
  color:rgb(0, 80, 94);
  text-decoration:none;
}


/* seccion servicios */

.accordion {
  height: 130%;
  position: relative;
  align-items: center;
  margin: 3%;
}

.color_letras_servicios2 {
  font-size: 1.2vw;
  color: rgb(0,53,62);
  background-color:rgb(255,255,255);
  text-decoration:none;
}

.color_letras_servicios2:hover{color:rgb(50,103,112);}


.color_letras_servicios2 ,a:link {
  text-decoration: none;
}


.color_letras_servicios {
  margin-top: 10px;
  font-size: 1vw;
  color: rgb(0,53,62);
  background-color:rgb(255,255,255);
  text-decoration:none;
}

.sangria {
  padding: 10px;
  text-align: justify;
}


#myList li{
  list-style: disc;
}


.serviciosAgropezim{
  margin-top: 30px;
  margin-left:5%;
  margin-right:5%;
}

.accordion-body {
  color: rgb(0, 80, 94);
}

/*seccion de la ventana modal*/
/* Z-index of #mask must lower than #boxes .window */

#mask {
  position: relative;
  z-index:900;
  background-color:#000;
  background-color:rgb(0,53,62);
  display: none;
}

#boxes .window {
  margin-top: 0px;
  position: relative;
  display:none;
  z-index:910;
  /* padding:20px; */
  font-size:22px;
  color:rgb(0,53,62);
  background-color:rgb(255,255,255);
}


/* Customize your modal window here, you can add background image too */
#boxes #dialog {
padding-top: 10px;
width:375px;
height:203px;
}

/* seccion contacto */

.ocultarMail {
  opacity: 0;
}

.myButton {
  -moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
  -webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
  box-shadow: 0px 1px 0px 0px #f0f7fa;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
  background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
  background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
  background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
  background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
  background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
  background-color:#33bdef;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #057fd0;
  display:block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding: 10px 10px;
  text-decoration:none;
  text-shadow:0px 0px 0px #5b6178;
  height: 60px;
  padding-top: 10px;
}

.myButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
  background:-moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
  background:-webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
  background:-o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
  background:-ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
  background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
  background-color:#019ad2;
}

/* .myButton:active {
  position:relative;
} */


label {
  margin-top: 0px;
  letter-spacing:1px;
  width: 70%;
  padding-left: 0;
  color: rgb(0, 80, 94);
}

.label-default{
  display: none;
}

.formulario	 {
  display:block;
  margin: 0px;
  width: 100%;
  height: 100%;
  color: #666666;
  font-size: 20px;
}

.mb-3 {
  position: relative;
  padding-left: 20px;
  padding-top: 20px;
  width: 90%;
  margin-right: 0px;
}

.form-control {
  position: relative;
}

form {
  /* margin:0 auto; */
  width: 100%;
  height: 550px;
  padding-left: 0px;
  position: relative;
}

input, textarea {
  width: 80px;
  height:70px;
  /* background:#666666;*/
  border:2px solid #f6f6f6;
  padding:10px;
  padding-bottom: 10px;
  margin-top:15px;
  font-size: 20px;
  color:#ffffff;
}

textarea {
  height:100px;

}

#submit {
  width:85px;
  height:35px;
  border:block;
  margin-top:40px;
  cursor:pointer;
}

/* Inicio de sesion  */
* { box-sizing:border-box; }

body {
	font-family: Helvetica;
	background: #eee;
  -webkit-font-smoothing: antialiased;
}

hgroup { 
	text-align:center;
	margin-top: 4em;
}

h1, h3 { font-weight: 300; }

h1 { color: #636363; }

h3 { color: #4a89dc; }

form {
	width: 380px;
	margin: 4em auto;
  margin-right: 25em;
	padding: 3em 2em 2em 2em;
	background: #fafafa;
	border: 1px solid #ebebeb;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.group { 
	position: relative; 
	margin-bottom: 45px;
  columns:rgb(0, 77, 93);
}

input {
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	-webkit-appearance: none;
	display: block;
	background: #fafafa;
	color: #636363;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #757575;
}

input:focus { outline: none; }


/* Label */

label {
	color: #999; 
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	transition: all 0.2s ease;
}


/* active */

input:focus ~ label, input.used ~ label {
	top: -20px;
  transform: scale(.75); left: -2px;
	/* font-size: 14px; */
	color: #4a89dc;
}


/* Underline */

.bar {
	position: relative;
	display: block;
	width: 100%;
}

.bar:before, .bar:after {
	content: '';
	height: 2px; 
	width: 0;
	bottom: 1px; 
	position: absolute;
	background: #4a89dc; 
	transition: all 0.2s ease;
}

.bar:before { left: 50%; }

.bar:after { right: 50%; }


/* active */

input:focus ~ .bar:before, input:focus ~ .bar:after { width: 50%; }


/* Highlight */

.highlight {
	position: absolute;
	height: 60%; 
	width: 100px; 
	top: 25%; 
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}


/* active */

input:focus ~ .highlight {
	animation: inputHighlighter 0.3s ease;
}


/* Animations */

@keyframes inputHighlighter {
	from { background: #4a89dc; }
	to 	{ width: 0; background: transparent; }
}


/* Button */

.button {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  margin: .3em 0 1em 0;
  width: 100%;
  vertical-align: middle;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  letter-spacing: 1px;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #3160B6;
  cursor: pointer;
  transition: all 0.15s ease;
}
.button:focus { outline: 0; }


/* Button modifiers */

.buttonBlue {
  background: #4a89dc;
  text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
}

.buttonBlue:hover { background: #357bd8; }


/* Ripples container */

.ripples {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}


/* Ripples circle */

.ripplesCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
}

.ripples.is-active .ripplesCircle {
  animation: ripples .4s ease-in;
}

/* Interfaz de control */


.w3-twothird {
  height: auto;
  width: auto;
}

.w3-light-grey {
  background-color: white;
}

/* Ripples animation */

@keyframes ripples {
  0% { opacity: 0; }

  25% { opacity: 1; }

  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}

footer { text-align: center; }

footer p {
	color: #888;
	font-size: 13px;
	letter-spacing: .4px;
}

footer a {
	color: #4a89dc;
	text-decoration: none;
	transition: all .2s ease;
}

footer a:hover {
	color: #666;
	text-decoration: underline;
}

footer img {
	width: 80px;
	transition: all .2s ease;
}

footer img:hover { opacity: .83; }

footer img:focus , footer a:focus { outline: none; }

/* Inicio de sesion > */

                                /* Responsive Styles */

/*responsividad mayor que */
@media (min-width: 1200px) {

.hidden-xs {
  width: 65px;
  height: 65px;
}

.visible-xs {                 /* imagenesde productos  */
  display: none;            /*Para una altura minima de 1200px */
}

  .linea_divisora{
    margin-top: 0px;
    width: 100%;
  }

  .nav-link {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .viewport {
    height: 0px;
  }

  .base {
    font-size: 1vw;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    bottom: 0;
    text-align: center;
    margin: auto;
    }

    .color_letras_servicios2 {
      font-size: 1.5vw;
      margin: 0;
  
    }

}


a {
  padding-bottom: 0px;
}

/*Responsividad menor que */

@media (max-width: 1200px) {

  .linea_divisora{
    margin-top: 0px;
    width: 100%;
  }

.hidden-xs {
  width: 60px;
  height: 60px;
  display: block;
}

  .img-responsive{
    width: 22,7vw;
    height: 21,2vh;
    justify-content: center;
    object-fit: scale-down;
    padding: 0px;

  }

  .viewport {
    height: 0px;
  }

  .productogiro {
    height: 0px;
  }

  .letras_mas_grandes {
      font-size: 2.1vw;
    }
  
  .color_letras_servicios2 {
      font-size: 2.1vw;
      margin: 0;
  
    }
  
  .color_letras_servicios{
      font-size: 2vw;
  
    }

  #logo {
    margin-top: 0px;
    height: 100px;
    width: 210px;
  }


  .base {
    font-size: 1.5vw;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    bottom: 0;
    text-align: center;
    margin: auto;
    }

    .navbar-nav {
      position: relative;
      z-index: 10000;
      background-color: white;

    }
    
    /* #cabecera-productos {
      height: 1400px;      
    }   */

  }


  @media (min-width: 1150px) {
    .imagenproductos {
      position:relative;
      display: block;
      height: 480px;
      width: 400px;
    }
  } 


@media (max-width: 1000px) {

  /* .hidden-xs {
    display: block;

  } */

  .letras_mas_grandes{
    font-size: 2.5vw;
  }


  .color_letras_servicios2 {

    font-size: 2.5vw;
    margin: 0;

  }

  .color_letras_servicios{
    font-size: 2vw;

  }

  #logo-tei {
    margin-top: 0px;
    height: 90px;
    width: 110px;
  }
  
}


@media (max-width: 900px) {

  /* .hidden-xs {
    display: block;
  } */

  .visible-xs {
    display: none;

  }
  
  .letras_mas_grandes{
    font-size: 2.5vw;
  }


  .color_letras_servicios2 {

    font-size: 2.5vw;
    margin: 0;

  }

  .color_letras_servicios{
    font-size: 2.5vw;

  }

  .footer {
    font-size: 2vw;
  }
}



@media (max-width:768px) {     /*======= Menos de 768 px =======*/ 

  /* Menu inical */
  .navbar-light {
    height: 80px;
    padding: 0;
    position: relative;
  }

  .hidden-xs {
    width: 30px;
    height: 30px;
    display: block;
  }
  
  .items {
    height: 100px;
  }

   
  #info {
    padding: 10px;
  }

  .footer {
    font-size: 2vw;
  }

   #cabecera-nosotros {
     height: 700px;
   }

   
  .sangria{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .txt_quienes {

    font-size: 2vw;

  }

  #myList li{

    padding-top: 20px;
    padding-bottom: 10px;

  }

  .navbar-light {
    height: 100px;
    padding: 0;
    position: relative;
  }

  .base {
  font-size: 2vw;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  bottom: 0;
  text-align: center;
  margin: auto;
  }

  #logo {
    margin-top: 0px;
    height: 80px;
    width: 190px;
  }

  #logo-tei {
    margin-top: 0px;
    height: 70px;
    width: 90px;
  }
  
  /* #cabecera-productos {
    height: 120px;      
  } */
}

@media (max-width: 576px) {


  #boxes .window {
    margin-top: 10;
    position: absolute;
    display:none;
    z-index:930;
    padding:10px;
    font-size:30px;
    color:rgb(0,53,62);
    background-color:rgb(255,255,255);
  }  


  .color_letras_servicios2 {
    margin-top: 0px;
    margin-bottom: 0;
    font-size: 1.5w;
  }

  .base {
    font-size: 2.6vw;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    bottom: 0;
    text-align: center;
    margin: auto;
    }

    #quienes-somos {
      font-size: 3vw;
    }

    .letras_mas_grandes{
      font-size: 3vw;
    }
  
  
    .color_letras_servicios2 {
      font-size: 3vw;
      margin: 0;
  
    }
  
    .color_letras_servicios{
      font-size: 3vw;
    }

}

@media (max-width:400px) {     /*======= Menos de 400 px =======*/
  
  #logo {
    margin-top: 0px;
    height: 70px;
    width: 160px;
  }
}

@media (max-width:300px) {     /*======= Menos de 300 px =======*/
  
  #logo {
    margin-top: 0px;
    height: 60px;
    width: 150px;
  }
}